*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'poppins', sans-serif;
	background: #ddd;
}
h1{
	font-size: 20px;
	margin-top: 15px;
}
.container{
	width: 100%;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 50px 8%;
	background: #ddd;
}
.gallery{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
grid-gap: 30px;
}
.gallery img{
	width: 100%;
}
